@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-in {
    animation: slideIn 0.3s ease forwards;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

html,
body,
#root {
  height: 100%;
}
